<div style="background: #7CADED;">
<footer id='footer' class='footer-bottom'>
<div class='container'>
    <div class='row'>
    <div class='col-sm-6 col-12'>
        <div class='copyright'>
        <%= link_to "©️ KANIDIAN POKER", root_path,
        class: "text-white underline font-bold" %>
        </div>
    </div>
    </div>
</div>
</footer>