<div class="w-full fixed top-0 left-0 bg-customBlue z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-center h-20">
        <%= link_to root_path do %>
            <%= image_tag "logo.jpeg", class: "h-12 w-auto" %>
        <% end %>
        </div>
    </div>
</div>
